@import '../../../assets/styles/1-settings/index';
@import '../../../assets/styles/2-tools/index';

.c-worker {
    padding: 1.5em 2em;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin-bottom: 16px;
    height: 240px;
    @include transition(all, 600ms);
    .c-worker__wrapper {
    }

    .c-worker__title {
        font-size: 22px;
        margin-bottom: 10px;
        color: $grey-material;
    }

    .title__office {
        color: #333;
    }

    .title__office {
        color: $color-elephant;
    }

    .title__address {
        color: $color-brink-pink;
    }

    .c-worker__metainfo {
        ul {
            margin-bottom: 12px;

            li {
                display: inline-block;
                margin-right: 16px;

                mat-icon,
                span {
                    display: inline-block;
                    vertical-align: middle;
                }

                span {
                    color: $grey-material-700;
                    font-size: 14px;
                    margin-left: 4px;
                }
            }

            .metainfo-place mat-icon {
                color: $red-material;
            }

            .metainfo-time mat-icon {
                color: $blue-material;
            }

            .metainfo-money mat-icon {
                color: $amber-material;
            }
        }
    }

    .c-worker__description {
        padding: 0 10px;
        font-size: 15px;
        margin-bottom: 16px;
        text-align: justify;
        columns: #505050;
        height: 70px;
    }

    .c-worker__footer {
        @include flexLayout;
        @include flexAlignItems;
        @include flexJustifyContent(space-between);
    }

    .c-tag {
        display: inline-block;
        border: 1px solid $grey-material-500;
        margin: 6px;
        padding: 4px 6px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.015em;
        color: $grey-material-800;
    }

    .wk-btn {
        min-width: 120px;
        background-color: #ff7166;
        color: #fff;
    }
}

.c-worker-skeleton {
    background-color: #fdfdfd;
    box-shadow: none;
    .c-worker__description {
        padding: 0;
    }
    .skeleton__bone-skin {
        background-color: #9e9e9e;
        min-width: 120px;
        min-height: 20px;
        display: inline-block;
        border-radius: 3px;
        animation: pulse 1600ms infinite ease-in-out;
        -webkit-animation: pulse 1600ms infinite ease-in-out;
    }

    .bone-h-xs {
        min-height: 24px;
    }
    .bone-h-md {
        min-height: 30px;
    }
    .bone-h-xl {
        min-height: 42px;
    }
    .skeleton__bone-skin-full {
        min-width: 100%;
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(#888, 0.4);
    }
    50% {
        background-color: rgba(#888, 0.5);
    }
    100% {
        background-color: rgba(#888, 0.4);
    }
}

@-webkit-keyframes pulse {
    0% {
        background-color: rgba(#888, 0.4);
    }
    50% {
        background-color: rgba(#888, 0.5);
    }
    100% {
        background-color: rgba(#888, 0.4);
    }
}
