<section class="c-worker" *ngIf="worker.id">
    <div class="c-worker__wrapper">
        <h3 class="c-worker__title">
            <span class="title__office">
                {{worker.nombres + ' ' + worker.apellidos}}
            </span>
            en <span class="title__address">{{worker.distrito && worker.distrito.nombre || '-'}}</span>
        </h3>
        <div class="c-worker__metainfo">
            <ul>
                <li class="metainfo-place">
                    <mat-icon>place</mat-icon>
                    <span>{{worker.distrito && worker.distrito.nombre || '-'}}</span>
                </li>
                <li class="metainfo-time">
                    <mat-icon>phone</mat-icon>
                    <span>{{worker.telefono}}</span>
                </li>
            </ul>
        </div>
        <div class="c-worker__description">
            {{(worker.descripcion && worker.descripcion.length) ? worker.descripcion:'Descripcion de Trabajador...' }}
        </div>
        <div class="c-worker__footer">
            <div class="c-worker__tags">
                <span class="c-tag">
                    {{worker.oficio && worker.oficio.nombre || '-'}}
                </span>
            </div>
            <div>
                <button class="wk-btn wk-btn-raised no-margin" [routerLink]="[worker.telefono,'profile']">
                    ver perfil
                </button>
            </div>
        </div>
    </div>
</section>
<section class="c-worker c-worker-skeleton" *ngIf="!worker.id">
    <div class="c-worker__wrapper">
        <h3 class="c-worker__title skeleton__bone-skin skeleton__bone-skin-full bone-h-md"></h3>
        <div class="c-worker__metainfo">
            <ul>
                <li class="metainfo-place">
                    <div class="skeleton__bone-skin"></div>
                </li>
                <li class="metainfo-time">
                    <div class="skeleton__bone-skin"></div>
                </li>
                <li class="metainfo-money">
                    <div class="skeleton__bone-skin"></div>
                </li>
            </ul>
        </div>
        <div class="c-worker__description">
            <div class="skeleton__bone-skin skeleton__bone-skin-full bone-h-xl"></div>
        </div>
        <div class="c-worker__footer">
            <div class="skeleton__bone-skin bone-h-md"></div>
            <div class="skeleton__bone-skin bone-h-md"></div>
        </div>
    </div>
</section>
