.wk-tag {
    // $h-tag:28px;
    min-width: 72px;
    // height: $h-tag;
    // line-height: $h-tag;
    text-align: center;
    padding: 10px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #888;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 8px;
    vertical-align: middle;
    color: #333;
}
