<section class="view-main">
    <section class="view-main__header header-app">
        <div class="header-app__wrapper">
            <span> <img src="/assets/images/google-color.png" alt="waranka"></span>
            <div class="list-alienated">
                <span>
                    <img src="/assets/images/google-color.png" alt="jerson victor">
                </span>
                <span class="header-app__username">{{user.nombres + ' ' + user.apellidos}}</span>
                <button mat-icon-button class="">
                    <mat-icon aria-label="favoritos">favorite</mat-icon>
                </button>
                <button mat-icon-button class="">
                    <mat-icon aria-label="notificaciones">notifications</mat-icon>
                </button>
                <button mat-icon-button class="" title="salir" (click)="onLogout()">
                    <!-- <mat-icon aria-label="options">more_vert</mat-icon> -->
                    <img src="/assets/images/logout.png" alt="salir">
                </button>
            </div>
        </div>
    </section>
    <section class="view-main__content">
        <router-outlet></router-outlet>
    </section>
</section>
