<section class="view-recommended">
    <div class="view-recommended__wrapper">
        <div class="view-recommended__filters">
            <h3 class="wk-subtitle">Filtros</h3>
            <div class="filter-list">
                <h4>Categorias</h4>
                <ul>
                    <li>
                        <mat-checkbox class="example-margin">Matematicos</mat-checkbox>

                    </li>
                    <li>
                        <mat-checkbox class="example-margin">Abogados</mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox class="example-margin">Medicos</mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox class="example-margin">Electricistas</mat-checkbox>
                    </li>
                </ul>
            </div>
            <div class="filter-list">
                <h4>Oficios</h4>
                <ul>
                    <li>
                        <mat-checkbox class="example-margin">Matematicos</mat-checkbox>

                    </li>
                    <li>
                        <mat-checkbox class="example-margin">Abogados</mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox class="example-margin">Medicos</mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox class="example-margin">Electricistas</mat-checkbox>
                    </li>
                </ul>
            </div>
        </div>
        <div class="view-recommended__list">
            <div class="view-recommended-head">
                <span class="wk-subtitle">Trabajadores Recomendados</span>
                <div>
                    <button class="wk-btn wk-btn-raised raised-primary" routerLink="create-worker">agregar</button>
                </div>
            </div>
            <ul>
                <li *ngFor="let worker of listRecommendeds">
                    <app-worker [worker]="worker"></app-worker>
                </li>
            </ul>
            <div *ngIf="haverWorkers" class="not-found">
                No hay datos
            </div>
        </div>
    </div>

</section>
