.wk-btn {
  min-width: 110px;
  min-height: 36px;
  height: 36px;
  margin: 8px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  @include transition(all, 180ms);
  display: inline-block;
}

.wk-btn[disabled] {
  background-color: $grey-material-300;
  color: $grey-material-700;
  border-color: transparent;
}

.wk-btn-outline {
  border: 2px solid $grey-material-500;
}

.outline-primary {
  border-color: $color-wk-primary;
  color: $color-wk-primary;
}

.wk-btn-raised {
  background-color: #ddd;
}

.raised-primary:not([disabled]) {
  background-color: $color-wk-primary;
  color: #fff;

  &:hover {
    background-color: $color-wk-primary-bold;
  }
}

.raised-secondary:not([disabled]) {
  background-color: $color-wk-secondary;
  color: #fff;

  &:hover {
    //background-color: $color-wk-secondary-bold;
  }
}
