<div *ngIf="!loader" class="view-profile">
    <div class="view-profile__banner">
        <div class="wk-container">
            <div class="f-layout f-ai">
                <div class="wk-avatar position-relative">
                    <span class="loader-spin-avatar">
                        <i class="fas fa-spinner fa-2x fa-pulse "></i>
                    </span>
                    <div class="picture-avatar" [ngStyle]="{'background-image': getSanitizaUrl(Worker.foto)}"></div>
                </div>
                <!-- <div class="wk-avatar">
                    <img [src]="Worker.foto" alt="user">
                </div> -->
                <div class="f-f view-profile__info">
                    <div>
                        <h2>{{Worker.nombres + ' ' + Worker.apellidos}}</h2>
                        <span class="wk-tag">{{Worker.oficio.nombre}}</span>
                    </div>
                    <div class="view-profile__location">
                        <div class="text-icon address mrg-l0">
                            <mat-icon>location_on</mat-icon>
                            <span>{{Worker.direccion}}, {{Worker.distrito.nombre}}</span>
                        </div>
                        <div class="list-alienated">
                            <p class="text-icon mrg-l0">
                                <mat-icon>phone</mat-icon>
                                <span>{{Worker.telefono}}</span>
                            </p>
                            <p class="text-icon">
                                <mat-icon>email</mat-icon>
                                <span>jerosn@gmail.com</span>
                            </p>
                        </div>
                    </div>
                    <div class="view-profile__social-count list-alienated">
                        <div class="social-item social-post">
                            <span>{{comments.length}}</span>
                            <span>Comentarios</span>
                        </div>
                        <div class="social-item social-followers">
                            <span>{{counterLike}}</span>
                            <span>Like It</span>
                        </div>
                        <div class="social-item social-following">
                            <span>{{counterShare}}</span>
                            <span>Compartidos</span>
                        </div>
                    </div>
                    <div class="view-profile__description">
                        <h4>Acerca de mi:</h4>
                        <p>
                            {{Worker.descripcion}}
                        </p>
                    </div>
                    <div class="list-alienated view-profile__events">
                        <button mat-icon-button matTooltip="Like It!" [matTooltipPosition]="'above'" (click)="likeOrShare(1)">
                            <mat-icon aria-label="Me Gusta">favorite</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Agregar a mi Lista!" [matTooltipPosition]="'above'" (click)="openDialogAddRecommended()">
                            <mat-icon aria-label="Mi Lista">playlist_add</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Compartir Recomendado!" [matTooltipPosition]="'above'"
                            (click)="likeOrShare(3)">
                            <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
                        </button>
                        <button mat-flat-button color="accent" class="btn-send-commnent" (click)="openDialogComment($event)">Enviar
                            Comentario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view-profile__body">
        <div class="wk-container">
            <div class="content-comments" *ngIf="comments.length">
                <h3 class="title-sect">Comentarios</h3>
                <ul>
                    <li *ngFor="let comment of comments">
                        <app-comment [post]="comment"></app-comment>
                    </li>
                </ul>
            </div>
            <div *ngIf="!comments.length" class="not-found">
                No hay Comentarios
            </div>
        </div>
    </div>
</div>
<div *ngIf="loader" class="content-loader">
    <mat-spinner [diameter]="40"></mat-spinner>
</div>
