<div class="wk-container view-profile" *ngIf="!loader">
    <div class="view-profile__banner">
        <div style="text-align: left">
            <button mat-icon-button routerLink="/recommended-workers">
                <mat-icon aria-label="back">keyboard_arrow_left</mat-icon> Volver
            </button>
        </div>
        <div class="avatar">
            <img src="/assets/images/face.png" alt="">
        </div>
        <h3>{{Worker.nombres + ' ' + Worker.apellidos}}</h3>
        <div class="address">
            <p>{{Worker.direccion}},</p>
            <p>{{Worker.distrito.nombre}}</p>
            <p>{{Worker.telefono}}</p>
        </div>
        <h2>{{Worker.oficio.nombre}}</h2>
        <div>
            <button mat-raised-button class="mv-button mv-primary btn-create" type="button" (click)="addList()" [disabled]="loader">
                <span *ngIf="!loaderAdd">Agregar a mi Lista</span>
                <span *ngIf="loaderAdd" class="freeway-spinner"></span>
            </button>
        </div>
    </div>
    <div class="description">
        <h3>Descripción</h3>
        <p>
            {{Worker.descripcion}}
        </p>
    </div>
    <div class="comments">
        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
            data-numposts="5" data-width="100%">
            cargando..</div>
    </div>
</div>
<div *ngIf="loader" class="content-loader">
    <mat-spinner [diameter]="40"></mat-spinner>
</div>
