<div class="wk-container view-profile">
    <div class="view-profile__banner">
        <div class="avatar">
            <img src="/assets/images/face.png" alt="">
        </div>
        <h3>Jerson Estacio Garcia</h3>
        <div class="address">
            Mz D Lt 22 San Juan de Lurigancho, Lima
        </div>
        <h2>Devekliooer FullStack</h2>
    </div>
    <div class="description">
        <h3>Descripción</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos neque aperiam nesciunt doloremque blanditiis,
            eius
            architecto ea fuga distinctio nam vel ipsa, aspernatur quibusdam quasi enim facere debitis natus a.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis quis aperiam nihil amet, nemo dolore
            animi eaque nostrum magnam molestias quibusdam voluptatum illo atque eum numquam, laborum consequuntur
            eveniet
            necessitatibus.
        </p>
    </div>
    <div class="comments">
        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
            data-numposts="5" data-width="100%">
            cargando..</div>
    </div>
</div>
