/*profile user*/

.tnk-content {
  background-color: #fff;
  padding: 10px;
}

.tnk-frame-content {
  // border: 1px solid #F5F5F5;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e2e2e2;
  padding: 10px;
  background-color: #fff;
}
