.view-auth {
  width: 100%;
  height: 100%;
  @include clearfix;

  .view-auth__left {
    width: 500px;
    height: 100%;
    float: left;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .view-auth__left-header {
      text-align: center;
      margin-bottom: 2em;

      img {
        max-width: 160px;
      }
    }

    .view-auth__content {
      width: 100%;
      max-width: 420px;
      margin: 0 auto;
      margin-bottom: 5em;
    }

    .view-auth__title,
    .view-auth__subtitle {
      text-align: center;
    }

    .view-auth__title {
      font-size: 19px;
      color: $mv-black-01;
      margin-bottom: 14px;
    }

    .view-auth__subtitle {
      color: $mv-grey-01;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 2em;
    }

    .box-forgotten {
      text-align: right;
      margin: 16px 0 25px 0;
      display: flex;
      justify-content: space-between;

      .err {
        color: #F24C4C;
        font-size: 14px;
      }

      span {
        cursor: pointer;
        font-weight: 300;
        color: $mv-grey-01;
        @include transition(color, 200ms, linear);

        &:hover {
          color: #2C3747;
        }
      }
    }
    .wk-btn{
        height: 50px;
    }
   

    .box-continue {
      margin: 20px 0;
      padding: 10px 0;
      text-align: center;

      span {
        color: $mv-grey-01;
        display: inline-block;
        vertical-align: middle;
      }

      .line {
        width: 60px;
        background-color: #e0e6ed;
        height: 1px;
      }

      .continue-text {
        font-weight: 200;
        margin: 0 10px;
        font-size: 17px;
      }
    }

    .view-auth__social {
      @include clearfix;
      margin-bottom: 1.5em;
      list-style: none;

      li {
        width: 130px;
        cursor: pointer;
        border-radius: 4px;
        height: 50px;
        border: 1px solid #e0e6ed;
        margin-right: 15px;
        float: left;
        line-height: 50px;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .box-register {
      text-align: center;
      font-weight: 300;

      span {
        color: #1EA6FA;
        cursor: pointer;
        outline: none;
      }
    }
    .mv-button{
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
  }

  .view-auth__rigth {
    width: calc(100% - 500px);
    height: 100%;
    float: right;
    background-color: #58E894;
  }
}
