$color-apple:#38B243;
$color-atlantis:#83D128;
$color-candlelight:#FCDE18;
$color-elephant:#153B50;
$color-koromiko:#FFC76E;
$color-brink-pink:#FB6A74;
$color-malibu:#6DCBF1;
$color-forest-green:#299a33;
