$color-wk-primary:$color-apple;
$color-wk-primary-bold:$color-forest-green;
$color-wk-secondary:$color-candlelight;
$color-wk-tertiary:$color-elephant;


//
// $color-primary:#7460EE;
// $color-secundary-black:#53585B;
// $color-secundary-grey-ligth:#d7d7d7;
$mv-black-01:#3c4858;
$mv-grey-01:#8492a6;
$mv-green-01:#38CC94;
$mv-purple-01:#7473F6;